{% extends "main.html" %}
{% block main %}
<h1>Inscription écovolontaire - confirmation</h1>
{% if not login %}
	<form method="post" action="/confirmation/">
		<p class="directive">Adresse email</p>
		<p class="valeur"><input type="text" name="email" value=""/></p>
		<p class="directive">Mot de passe</p>
		<p class="valeur"><input type="text" name="pwd" value=""/></p>
		<input type="submit" value="Envoyer"/>
	</form>
{% else %}
	<a href="/fermer/">Fermer</a>
	<p>Vous avez été sélectionné(e) pour participer aux missions d'écovolontariat phoques qui se tiendront au cours de l'été 2013: du 8 juin au 31 août pour la surveillance estivale et dès le 8 juin pour le centre de sauvegarde de la faune sauvage.</p>

	<hr/>
	<h2>Dates retenues</h2>

	{% if candidat.retenu_08_06_au_15_06 %} 
		Présent du 08-06 au 15-06 pour la mission <i>{{candidat.retenu_08_06_au_15_06}}</i><br/>
	{% endif %}
	
	{% if candidat.retenu_15_06_au_22_06 %}
		Présent du 15-06 au 22-06 pour la mission <i>{{candidat.retenu_15_06_au_22_06}}</i><br/>
	{% endif %}

	{% if candidat.retenu_22_06_au_29_06 %}
		Présent du 22-06 au 29-06 pour la mission <i>{{candidat.retenu_22_06_au_29_06}}</i><br/>
	{% endif %}

	{% if candidat.retenu_29_06_au_06_07 %}
		Présent du 29-06 au 06-07 pour la mission <i>{{candidat.retenu_29_06_au_06_07}}</i><br/>
	{% endif %}

	{% if candidat.retenu_06_07_au_13_07 %}
		Présent du 06-07 au 13-07 pour la mission <i>{{candidat.retenu_06_07_au_13_07}}</i><br/>
	{% endif %}

	{% if candidat.retenu_13_07_au_20_07 %}
		Présent du 13-07 au 20-07 pour la mission <i>{{candidat.retenu_13_07_au_20_07}}</i><br/>
	{% endif %}

	{% if candidat.retenu_20_07_au_27_07 %}
		Présent du 20-07 au 27-07 pour la mission <i>{{candidat.retenu_20_07_au_27_07}}</i><br/>
	{% endif %}

	{% if candidat.retenu_27_07_au_03_08 %}
		Présent du 27-07 au 03-08 pour la mission <i>{{candidat.retenu_27_07_au_03_08}}</i><br/>
	{% endif %}

	{% if candidat.retenu_03_08_au_10_08 %}
		Présent du 03-08 au 10-08 pour la mission <i>{{candidat.retenu_03_08_au_10_08}}</i><br/>
	{% endif %}

	{% if candidat.retenu_10_08_au_17_08 %}
		Présent du 10-08 au 17-08 pour la mission <i>{{candidat.retenu_10_08_au_17_08}}</i><br/>
	{% endif %}

	{% if candidat.retenu_17_08_au_24_08 %}
		Présent du 17-08 au 24-08 pour la mission <i>{{candidat.retenu_17_08_au_24_08}}</i><br/>
	{% endif %}

	{% if candidat.retenu_24_08_au_31_08 %}
		Présent du 24-08 au 31-08 pour la mission <i>{{candidat.retenu_24_08_au_31_08}}</i><br/>
	{% endif %}

	{% if candidat.retenu_31_08_au_07_09 %}
		Présent du 31-08 au 07-09 pour la mission <i>{{candidat.retenu_31_08_au_07_09}}</i><br/>
	{% endif %}

	{% if candidat.retenu_07_09_au_14_09 %}
		Présent du 07-09 au 14-09 pour la mission <i>{{candidat.retenu_07_09_au_14_09}}</i><br/>
	{% endif %}

	{% if candidat.retenu_14_09_au_21_09 %}
		Présent du 14-09 au 21-09 pour la mission <i>{{candidat.retenu_14_09_au_21_09}}</i><br/>
	{% endif %}

	{% if candidat.retenu_21_09_au_28_09 %}
		Présent du 21-09 au 28-09 pour la mission <i>{{candidat.retenu_21_09_au_28_09}}</i><br/>
	{% endif %}

	{% if candidat.retenu_28_09_au_05_10 %}
		Présent du 28-09 au 05-10 pour la mission <i>{{candidat.retenu_28_09_au_05_10}}</i><br/>
	{% endif %}

	{% if candidat.retenu_05_10_au_12_10 %}
		Présent du 05-10 au 12-10 pour la mission <i>{{candidat.retenu_05_10_au_12_10}}</i><br/> 
	{% endif %}

	{% if candidat.retenu_12_10_au_19_10 %}
		Présent du 12-10 au 19-10 pour la mission <i>{{candidat.retenu_12_10_au_19_10}}</i><br/>
	{% endif %}

	{% if candidat.retenu_19_10_au_26_10 %}
		Présent du 19-10 au 26-10 pour la mission <i>{{candidat.retenu_19_10_au_26_10}}</i><br/>
	{% endif %}

	{% if candidat.retenu_26_10_au_02_11 %}
		Présent du 26-10 au 02-11 pour la mission <i>{{candidat.retenu_26_10_au_02_11}}</i><br/>
	{% endif %}

	<h2>Frais d'inscriptions et participation</h2>
	<p>Frais d'inscription : <b>{{candidat.frais_inscription}} €</b></p>
	<p>Participation hébergement : <b>{{candidat.frais_hebergement}} €</b></p>
	<p>Total a régler : <b>{{total}} €</b>

	<!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> -->
	<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
		Cliquez sur le bouton "Payer" pour procéder au paiement
		<input type="hidden" name="cmd" value="_cart">
		<input type="hidden" name="upload" value="1">
		<!-- <input type="hidden" name="business" value="christophe.hosten@picardie-nature.org"> -->
		<input type="hidden" name="business" value="nicolas-facilitator@web-fr.org">
		<input type="hidden" name="item_name_1" value="Participation hebergement">
		<input type="hidden" name="item_number_1" value="ph_{{candidat.id}}">
		<input type="hidden" name="amount_1" value="{{candidat.frais_hebergement}}">
		{% if candidat.frais_inscription > 0 %}
		<input type="hidden" name="item_name_2" value="Frais inscription">
		<input type="hidden" name="item_number_2" value="fi_{{candidat.id}}">
		<input type="hidden" name="amount_2" value="{{candidat.frais_inscription}}">
		{% endif %}
		<!-- <input type="hidden" name="no_shipping" value="2">
		<input type="hidden" name="no_note" value="1"> -->
		<input type="hidden" name="currency_code" value="EUR">
		<input type="hidden" name="tax" value="0">
		<input type="hidden" name="email" value="{{fiche.email}}">
		<input type="hidden" name="last_name" value="{{fiche.nom}}">
		<input type="hidden" name="first_name" value="{{fiche.prenom}}">
		<input type="hidden" name="return" value="http://ecovolontaires.picardie-nature.org/confirmation_fin"/>
		<input type="submit" value="Payer">
	</form>

	
{% endif %}
{% endblock %}
