{% extends "main.html" %}
{% block main %}
	<form method="post" action="/inscription/">
	<h1>Inscription écovolontaire - saison 2012</h1>
	<span class="erreur">{{form.errors}}</span>
	<div id="partie1" class="partie">
	<h2>Identitée</h2>
	<table>
		<tr>
			<td width="30%">
				<p class="directive">{{form.nom.label}} <span class="erreur">{{form.nom.errors}}</span></p>
				<p class="valeur">{{form.nom}}</p>
			</td>
			<td width="30%">
				<p class="directive">{{form.prenom.label}} <span class="erreur">{{form.prenom.errors}}</span></p>
				<p class="valeur">{{form.prenom}}</p>
			</td>	
			<td width="30%">
				<p class="directive">Age <span class="erreur">{{form.age.errors}}</span></p>
				<p class="valeur">{{form.age}}</p>
			</td>

		</tr>
		<tr>
			<td>
				<p class="directive">{{form.email.label}} <span class="erreur">{{form.email.errors}}</span></p>
				<p class="valeur">{{form.email}}</p>
			</td>
			<td>
				<p class="directive">{{form.mobile.label}} <span class="erreur">{{form.mobile.errors}}</span></p>
				<p class="valeur">{{form.mobile}}</p>
			</td>
			<td>
				<p class="directive">{{form.sexe.label}} <span class="erreur">{{form.sexe.errors}}</span></p>
				<p class="valeur">{{form.sexe}}</p>
			</td>
		</tr>
		<tr>
			<td>
				<p class="directive">Êtes vous adhérent à une autre association ?
					<span class="erreur">{{form.adherent_autre_asso.errors}}</span></p>
				<p class="valeur">{{form.adherent_autre_asso}}</p>
			</td>

		</tr>
	</table>
	<div class="info">
		Attention : Vérifiez bien votre adresse e-mail : un mot de passe sera envoyé sur celle-ci pour vous permettre d'envoyer vos documents.
	</div>
	<div class="info">
		Vous êtes déjà inscrit ? Pour envoyer les documents suivez ce <a href="/documents">lien</a>.
	</div>
	<a href="javascript:suivant()">Passer à l'étape suivante</a>
	</div>
	<div id="partie2" class="partie">
	<h2>Votre candidature porte sur :</h2>
		<h3>
			{{form.participation_csfs}}
			<label for="id_participation_csfs" type="checkbox">
				{{form.participation_csfs.label}}
			</label>
		</h3>
		<h3>
			{{form.participation_protection}}
			<label for="id_participation_protection" type="checkbox">
				{{form.participation_protection.label}}
			</label>
		</h3>
		<div class="info">Les horaires des terrains de surveillance sont callées sur les horaires des marées basse, elles
		sont donc variables d'une journée à l'autre, sur une amplitude horaire de 6h à 21h30.</div>
		<div class="info">Les horaires des équipes des soigneurs sont 6h30-14h30 et 14h-22h, vous ferez partie de l'une
		ou l'autre équipe</div>
		<div class="info">Durant votre séjour vous serez logé et nourri en gîte collectif. Cela implique une participation
		de votre part aux activitées communes (courses, repas...) et une tolérance de la vie en groupe (dortoirs).</div>
	<a href="javascript:precedent()">Étape précédente</a>
	<a href="javascript:suivant()">Passer à l'étape suivante</a>
	</div>
	<div id="partie3" class="partie">
		<div class="protection">
		<h2>Vos disponibilités sur la mission de protection</h2>
		<p>(Cochez les semaines où vous êtes disponible)</p>
		{{form.dispo_02_06_au_09_06}} <label for="id_dispo_02_06_au_09_06">{{form.dispo_02_06_au_09_06.label}}</label><br/>
		{{form.dispo_09_06_au_16_06}} <label for="id_dispo_09_06_au_16_06">{{form.dispo_09_06_au_16_06.label}}</label><br/>
		{{form.dispo_16_06_au_23_06}} <label for="id_dispo_16_06_au_23_06">{{form.dispo_16_06_au_23_06.label}}</label><br/>
		{{form.dispo_23_06_au_30_06}} <label for="id_dispo_23_06_au_30_06">{{form.dispo_23_06_au_30_06.label}}</label><br/>
		{{form.dispo_30_06_au_07_07}} <label for="id_dispo_30_06_au_07_07">{{form.dispo_30_06_au_07_07.label}}</label><br/>
		{{form.dispo_07_07_au_14_07}} <label for="id_dispo_07_07_au_14_07">{{form.dispo_07_07_au_14_07.label}}</label><br/>
		{{form.dispo_14_07_au_21_07}} <label for="id_dispo_14_07_au_21_07">{{form.dispo_14_07_au_21_07.label}}</label><br/>
		{{form.dispo_21_07_au_28_07}} <label for="id_dispo_21_07_au_28_07">{{form.dispo_21_07_au_28_07.label}}</label><br/>
		{{form.dispo_28_07_au_04_08}} <label for="id_dispo_28_07_au_04_08">{{form.dispo_28_07_au_04_08.label}}</label><br/>
		{{form.dispo_04_08_au_11_08}} <label for="id_dispo_04_08_au_11_08">{{form.dispo_04_08_au_11_08.label}}</label><br/>
		{{form.dispo_11_08_au_18_08}} <label for="id_dispo_11_08_au_18_08">{{form.dispo_11_08_au_18_08.label}}</label><br/>
		{{form.dispo_18_08_au_25_08}} <label for="id_dispo_18_08_au_25_08">{{form.dispo_18_08_au_25_08.label}}</label><br/>
		{{form.dispo_25_08_au_01_09}} <label for="id_dispo_25_08_au_01_09">{{form.dispo_25_08_au_01_09.label}}</label><br/>
		{{form.dispo_01_09_au_08_09}} <label for="id_dispo_01_09_au_08_09">{{form.dispo_01_09_au_08_09.label}}</label><br/>
		{{form.dispo_08_09_au_15_09}} <label for="id_dispo_08_09_au_15_09">{{form.dispo_08_09_au_15_09.label}}</label><br/>
		{{form.dispo_15_09_au_22_09}} <label for="id_dispo_15_09_au_22_09">{{form.dispo_15_09_au_22_09.label}}</label><br/>
		{{form.dispo_22_09_au_29_09}} <label for="id_dispo_22_09_au_29_09">{{form.dispo_22_09_au_29_09.label}}</label><br/>
		{{form.dispo_29_09_au_06_10}} <label for="id_dispo_29_09_au_06_10">{{form.dispo_29_09_au_06_10.label}}</label><br/>
		{{form.dispo_06_10_au_13_10}} <label for="id_dispo_06_10_au_13_10">{{form.dispo_06_10_au_13_10.label}}</label><br/>
		{{form.dispo_13_10_au_20_10}} <label for="id_dispo_13_10_au_20_10">{{form.dispo_13_10_au_20_10.label}}</label><br/>
		{{form.dispo_20_10_au_27_10}} <label for="id_dispo_20_10_au_27_10">{{form.dispo_20_10_au_27_10.label}}</label><br/>

		<p class="directive">Combien de semaines souhaitez vous rester <span class="erreur">{{form.duree_n_semaine.errors}}</span></p>
		<p class="valeur">{{form.duree_n_semaine}}</p>
		<p class="directive">{{form.loc_baie.label}} <span class="erreur">{{form.loc_baie.errors}}</span></p>
		<p class="valeur">{{form.loc_baie}}</p>
		<p>
			{{form.ancien_surveillant}}
			<label for="id_ancien_surveillant">J'ai déjà participé à la surveillance estivale des phoques de la Baie de Somme mise en place par Picardie Nature</label>
		</p>
		
		</div>

		<p>
			{{form.ancien_soigneur}}
			<label for="id_ancien_soigneur">Je suis déjà venu(e) assister les soigneurs au Centre de sauvegarde de la faune sauvage de Picardie Nature</label>
		</p>
		<a href="javascript:precedent()">Étape précédente</a>
		<a href="javascript:suivant()">Passer à l'étape suivante</a>
	</div>
	<div id="partie4" class="partie">
		<h2>Formation</h2>
		<h3>Permis de conduire</h3>
		<p class="valeur">
			{{form.permis_b}}<label for="id_permis_b">{{form.permis_b.label}}</label>
			{{form.vehicule}}<label for="id_vehicule">je possède un véhicule que j'aurais à disposition durant mon séjour</label>
		</p>
		<h3>Permis bateau</h3>
		<p class="valeur">
			{{form.permis_mer}}<label for="id_permis_mer">{{form.permis_mer.label}}</label>
			{{form.navig_regulierement}}<label for="id_navig_regulierement">{{form.navig_regulierement.label}}</label>
		</p>
		<h3>Navigation en Kayak</h3>
		<p class="valeur">
			{{form.kayak_mer}}<label for="id_kayak_mer">{{form.kayak_mer.label}}</label><br/>
			{{form.kayak_niveau.label}} : {{form.kayak_niveau}} <span class="erreur">{{form.kayak.errors}}</span>
		</p>
		<h3>Formations aux premiers secours</h3>
		<p>
			{{form.afps}}<label for="id_afps">{{form.afps.label}}</label><br/>
			{{form.psc1}}<label for="id_psc1">{{form.psc1.label}}</label><br/>
			{{form.sauveteur_travail}}<label for="id_sauveteur_travail">{{form.sauveteur_travail.label}}</label><br/>
			{{form.autre.label}} : {{form.autre}} <span class="erreur">{{form.autre.errors}}</span>
		</p>
		<a href="javascript:precedent()">Étape précédente</a>
		<a href="javascript:suivant()">Passer à l'étape suivante</a>
	</div>
	<div id="partie5" class="partie">
		<h3>Animation</h3>
		<p>
			{{form.bafa}}<label for="id_bafa">{{form.bafa.label}}</label><br/>
			{{form.bapaat}}<label for="id_bapaat">{{form.bapaat.label}}</label><br/>
			{{form.bpjeps}}<label for="id_bpjeps">{{form.bpjeps.label}}</label><br/>
			{{form.guide_nature}}<label for="id_guide_nature">{{form.guide_nature.label}}</label><br/>
			{{form.bts_gpn_opt_anim}}<label for="id_bts_gpn_opt_anim">{{form.bts_gpn_opt_anim.label}}</label>
			{{form.autre_anim.label}} : {{form.autre_anim}} <span class="erreur">{{form.autre_anim.errors}}</span>

		</p>
		<h3>Compétences naturaliste</h3>
		<p>
			{{form.mam_marins}}<label for="id_mam_marins">{{form.mam_marins.label}}</label><br/>
			{{form.oiseaux}}<label for="id_oiseaux">{{form.oiseaux.label}}</label><br/>
			{{form.autre_competence_naturaliste.label}} : {{form.autre_competence_naturaliste}} 
			<span class="erreur">{{form.autre_competence_naturaliste.errors}}</span>

		</p>
		<div class="soins">
		<h3>Formation vétérinaire</h3>
		<p>
			{{form.auxiliaire_sante}}<label for="id_auxiliaire_sante">{{form.auxiliaire_sante.label}}</label><br/>
			{{form.assistant_veterinaire}}<label for="id_assistant_veterinaire">{{form.assistant_veterinaire.label}}</label><br/>
			{{form.soigneur_animalier}}<label for="id_soigneur_animalier">{{form.soigneur_animalier.label}}</label><br/>
			{{form.autre_diplome_soins.label}} : {{form.autre_diplome_soins}}
		</p>
		</div>
		<input type="submit" value="Enregistrer votre candidature"/>
		<a href="javascript:precedent()">Étape précédente</a>
		</form>
	</div>
</div>

<script>
var g_partie = 0;

function precedent() {
	if (g_partie > 1) {
		jQuery("#partie"+g_partie).hide();
		g_partie = g_partie - 1;
		jQuery("#partie"+g_partie).show();
	}
}

function suivant() {
	var ok = false;
	if (g_partie == 2) {
		if (document.getElementById('id_participation_csfs').checked) {
			jQuery(".soins").show();
			ok = true;
		}
		if (document.getElementById('id_participation_protection').checked) {
			jQuery(".protection").show();
			ok = true;
		}
		if (!ok) {
			alert('Vous devez choisir au moins une mission');
			return;
		}
	}
	jQuery("#partie"+g_partie).hide();
	g_partie = g_partie + 1;
	jQuery("#partie"+g_partie).show();
}

window.onload = function() {
	jQuery("#partie1").show();
	g_partie = 1;
}
</script>
{% endblock %}
