{% extends "main.html" %}
{% block main %}
<h1>Inscription écovolontaire - enregistrement des documents</h1>
<form method="post" action="/documents/">
	<p class="directive">Adresse email</p>
	<p class="valeur"><input type="text" name="email" value=""/></p>
	<p class="directive">Mot de passe</p>
	<p class="valeur"><input type="text" name="pwd" value=""/></p>
	<input type="submit" value="Envoyer"/>
</form>
<p>Merci d'avoir rempli le formulaire d'inscription,</p>
<p>Un email vous est envoyé, il contient le mot de passe pour terminer votre inscription
et le lien pour revenir ultérieurement sur cette page.</p>

<div class="info">
Afin de confirmer votre candidature, veuillez nous envoyer (avant le 29 février) les pièces jointes suivantes:
<ul>
	<li>télécharger ici votre lettre de motivations et votre CV au format PDF</li>
	<li>une attestaion responsabilité civile</li>
	<li>une feuille d'adhésion avec le règlement (si vous n'êtes pas adhérent et n'avez pas adhéré en ligne)</li>
	<li>une photocopie de votre permis de conduire et de la carte grise du véhicule qui vous servira durant votre séjour (si vous en possédez);</li>
	<li>une photocopie de votre permis mer (si vous en possédez);</li>
	<li>toute photocopie de diplôme utile à la mission (niveau de kayak, attestation premiers secours,soins animaliers...)</li>
</ul>

Si vous rencontrez des difficultés pour les envoyer en ligne vous pouvez les envoyer par courrier à 
<pre>
PICARDIE NATURE
1 rue de CROŶ
BP 70010
80097 Amiens cedex 3
</pre>

Notez que :
<ul>
	<li>Les inscriptions sont collectées jusqu'au 29 février 2012 à minuit;</li>
	<li>Seuls les dossiers de candidature complets seront étudiés;</li>
	<li>Une première selection sera faite au sein de ces candidatures dès le début du mois de mars.Une réponse sera alors envoyée par mail le 15 mars 2012;</li>
	<li>Les personnes selectionnées devront alors confirmer leur engagement avant le 30 mars minuit.</li>
	<li>Les candidats refusés lors de la première selection et les candidats s'étant inscrits après le 29 février, pourront être selectionnés et contactés au fur et à mesure des désistements. Une délai de 8 jours vous permettra alors deconfirmer votre engagement.</li>
	<li>45 euros de participation aux frais de gestion vous seront réclamés, par action à laquelle vous participerez.</li>
</div>
{% endblock %}
