{% extends "main.html" %}
{% block main %}
<h1>Inscription écovolontaire - enregistrement des documents</h1>
<form method="post" action="/documents/">
	<p class="directive">Adresse email</p>
	<p class="valeur"><input type="text" name="email" value=""/></p>
	<p class="directive">Mot de passe</p>
	<p class="valeur"><input type="text" name="pwd" value=""/></p>
	<input type="submit" value="Envoyer"/>
</form>
<p>Merci d'avoir rempli le formulaire d'inscription,</p>
<p>Un email vous est envoyé, il contient le mot de passe pour terminer votre inscription
et le lien pour revenir ultérieurement sur cette page.</p>


Veuillez préparer les documents suivants, au format .pdf pour votre prochaine connexion :
<ul>
	<li>lettre de motivation</li>
	<li>CV</li>
	<li>photocopie de votre carte d'identité ou passeport</li>
	<li>photocopie de votre permis de conduire et de la carte grise du véhicule qui sera utilisé au cours du séjour (si tel est le cas)</li>
	<li>photocopie de votre niveau de pagaie de kayak de mer (si tel est le cas)</li>
	<li>photocopie de votre permis mer (si tel est le cas)</li>
	<li>photocopie de votre diplôme de de formation en premiers secours (si tel est le cas)</li>
	<li>photocopie de votre diplôme de formation en animation (si tel est le cas)</li>
	<li>photocopie de votre diplôme de formation en soins animaliers (si tel est le cas)</li>
</ul>
{% endblock %}
