{% extends "main.html" %}
{% block main %}
<h1>Inscription bénévolat baie de Somme - enregistrement des documents</h1>
<form method="post" action="/documents/">
	<p class="directive">Adresse email</p>
	<p class="valeur"><input type="text" name="email" value=""/></p>
	<p class="directive">Mot de passe</p>
	<p class="valeur"><input type="text" name="pwd" value=""/></p>
	<input type="submit" value="Envoyer"/>
</form>
<p>Merci d'avoir rempli le formulaire d'inscription,</p>
<p>Un email vous est envoyé, il contient le mot de passe pour terminer votre inscription
et le lien pour revenir ultérieurement sur cette page.</p>

<div class="info">
	Afin de confirmer votre candidature, veuillez nous fournir (avant le 8 mars) les pièces jointes suivantes: 
	<ul>
		<li>téléchargez ici : votre lettre de motivations et votre CV au format .PDF </li>
		<li>téléchargez ici (de préférence) ou envoyez par courrier :
		<ul>
			<li>une attestation responsabilité civile </li>
			<li>une photocopie de votre permis de conduire et de la carte grise du véhicule qui vous servira durant votre séjour (si vous en possédez); </li>
			<li>une photocopie de votre permis mer (si vous en possédez); </li>
			<li>toute photocopie de diplôme utile à la mission (niveau de kayak, attestation premiers secours,soins animaliers...) </li>
		</ul>
		<li>envoyez par courrier :
		<ul>
			<li>une feuille d'adhésion (si vous n'êtes pas adhérent et n'avez pas adhéré en ligne) </li>
			<li>un chèque de caution de 100 € à l'ordre de Picardie Nature (celui-ci ne sera pas encaissé, il vous sera rendu le jour de votre départ de la mission OU vous sera retourné par courrier en fin de saison). Cette caution sera encaissée pour tout désistement qui serait annoncée après le 1 mai 2015. </li>
			<li>une enveloppe timbrée, libellée à vos nom et adresse.   </li>
		</ul>
<pre>
PICARDIE NATURE
BENEVOLAT PHOQUES
1 rue de CROŶ
BP 70010
80097 Amiens cedex 3
</pre>
</li>
</ul>

Notez que : 
<ul>
	<li>Les inscriptions sont collectées jusqu'au 8 mars 2015 à minuit; </li>
	<li>Seuls les dossiers de candidature complets à cette date seront étudiés; </li>
	<li>Une première sélection sera faite au sein de ces candidatures au mois de mars. Une réponse sera alors envoyée par mail au maximum entre le 25 et 28 mars 2015; </li>
	<li>Les personnes sélectionnées recevront un mail depuis lequel elles pourront pendre connaissance du règlement intérieur qui s'applique aux missions de bénévolat pour les phoques,</li>
	<li>Les personnes sélectionnées devront alors accepter le règlement intérieur, confirmer leur engagement et s'acquitter des frais de gestion de 50€ et de la participation aux frais d'hébergement et de nourriture de 20€ par semaine avant le 8 avril minuit. </li>
	<li>Tous les candidats ayant confirmé seront considérés comme participants dès le 8 avril minuit. </li>
	<li>Les candidats non sélectionnés lors de la première selection et les candidatures reçues après le 8 mars, pourront être selectionnés et contactés au fur et à mesure des désistements. Une délai de 8 jours vous permettra alors de confirmer votre engagement. 
	<li>Les candidats sélectionnés qui ne souhaiteraient ou ne pourraient plus assurer leur période de bénévolat sont priés de prévenir de leur désistement au plus tôt. </li>
		<ul>
			<li>En cas de désistement signalé avant le 1 mai, le chèque de caution vous sera retourné. Passé cette date, ce dernier sera encaissé,</li>
			<li>En cas de désistement les frais de gestion ne seront pas remboursés, </li>
			<li>En cas de désistement, la participation aux frais d'hébergement et de nourriture de 20€ par semaine vous seront remboursés. </li>
		</ul>
	</li>
</ul>
</div>
{% endblock %}
